.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  @include font(700, 24px, 1.17, 0.03em);

  &-header {
    margin-right: 0;
  }
  &-footer {
    display: block;
    margin-bottom: 20px;
  }
  &--accent {
    color: var(--accent-text-color);
  }
  &--white {
    color: var(--white-text-color);
  }

  @include tablet {
    &-header {
      margin-right: 87px;
    }
  }
  @include desktop {
    @include font(700, 26px, 1.19, 0.03em);
    &-header {
      margin-right: 92px;
    }
  }
}
