h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
