:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --gray-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --active-bottom-color: #188ce8;
  --border-works-color: #eeeeee;
  --header-border-color: #ececec;
  --team-shadow-box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --icons-color: #afb1b8;
}
