/*^ Чим ми займаємося */
.activities {
  padding-top: 0;
}

.activities__title {
  @extend %title;
}

.activities__list {
  display: flex;
}

.activities__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activities__bg {
  position: absolute;
  @include centeredFlex;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__card-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
