/*^ Постійні клієнти */
.clients__list {
  @include centeredFlex;
}

.clients__title {
  @extend %title;
}

.clients__link {
  @include centeredFlex;
  width: 100%;
  height: 100%;
  fill: var(--icons-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  @include transitionX2(fill, border-color);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }
}

.clients__item {
  width: 170px;
  height: 92px;
  fill: currentColor;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
