/*^ Футер */
.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer__contacts {
  width: 231px;
}

.footer-address {
  font-style: normal;
}

.footer-address__content,
.footer-contacts__item-mail {
  margin-bottom: 9px;
}

.footer-address__link {
  color: var(--white-text-color);
  line-height: 1.71;
}

.footer-contacts__link {
  color: var(--contacts-text-color);
  line-height: 1.71;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

/* Посилання */
.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-icon {
  margin-left: 70px;
}

.footer-icon__title {
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  font-size: 14px;
  text-transform: uppercase;
}

/* Футер-форма */
.footer-form {
  margin-left: 93px;
}

.form-email {
  display: flex;
  align-items: center;
}

.footer-form__text {
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-email__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-bg-color);
  font-size: 16px;
  line-height: 1.25;
  @include transition(border-color);

  &:focus {
    border-color: var(--accent-text-color);
    outline: transparent;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-email__button {
  @include centeredFlex;
  margin-left: 12px;
  border-radius: 4px;
  padding: 10px 28px;
  width: 200px;
  border: none;

  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  @include font(700, 16px, 1.88, 0.06em);
  text-align: center;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: var(--active-bottom-color);
  }
}

.form-email__icon-send {
  margin-left: 10px;
}
