/*? Модальне вікно */
.backdrop {
  position: fixed;
  @include centeredPosition;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  @include transitionX2(opacity, visibility);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  @include transition(transform);

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal__button--close {
  position: absolute;
  @include centeredFlex;
  top: 7px;
  right: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include transition(fill);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

/* Оформлення модального вікна*/
.modal__title {
  margin-bottom: 12px;
  @include font(700, 20px, 1.15, null);
  text-align: center;
  color: var(--title-text-color);
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__input {
  padding: 12px 16px 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  @include transition(border-color);

  &:focus {
    border-color: var(--accent-text-color);
    outline: transparent;
  }
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  @include font(null, 12px, 1.17, 0.01em);
}

.modal-form__input-icon {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  @include transition(fill);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-text-color);
}

.modal-form__textarea {
  margin-bottom: 20px;
}

.modal-form__area {
  display: block;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  @include transition(border-color);

  &:focus {
    border-color: var(--accent-text-color);
    outline: transparent;
  }
}

.modal-form__checkbox {
  margin-bottom: 30px;
}

.modal-form__checkbox-label {
  @include centeredFlex;
  line-height: 1.71;

  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
  }
}

.modal-form__checkbox-input:checked + .modal-form__checkbox-label::before {
  background-color: var(--accent-text-color);
  border-color: transparent;
  background-image: url('../images/icon-check.svg');
  @include backgroundImg(null);
  @include transition(background-color);
}

.modal-form__checkbox-link {
  margin-left: 8px;
  line-height: 1.71;
  color: var(--accent-text-color);
}

.modal-form__button--send {
  @include centeredFlex;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  @include font(700, 16px, 1.88, 0.06em);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-text-color);
  color: var(--primary-bg-color);
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: var(--active-bottom-color);
  }
}
